window {
  background-color: #1e1e1e;
  font-family: "Courier New", monospace;
  font-size: 13px;
  color: #ffffff;
}

textview, entry {
  background-color: #2d2d2d;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px;
}

button {
  background-color: #3c3c3c;
  color: #ffffff;
  border-radius: 4px;
  padding: 6px;
}

button:hover {
  background-color: #5a5a5a;
}
